<div class="col-md-8 col-md-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">

        <div class="form-group">
            <label for="content">Content</label>
            <input type="text"
                   id="content"
                   class="form-control"
                   name="content"
                   required
                   [ngModel]="message?.content"
                    >
        </div>
        <button class="btn btn-danger" type="button" (click)="onClear(f)">Clear</button>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>

    </form>

</div>